@font-face {
   font-family: 'Lobster';
   font-style: normal;
   font-weight: normal;
   font-stretch: normal;
   src: font-url('Lobster-Regular.ttf');
}

@font-face {
   font-family: 'Montserrat';
   src: font-url('Montserrat-Regular.ttf');
   font-style: normal;
   font-weight: normal;
   font-stretch: normal;
}

@font-face {
   font-family: 'Montserrat';
   src: font-url('Montserrat-RegularItalic.ttf');
   font-style: italic;
   font-weight: normal;
   font-stretch: normal;
}

@font-face {
   font-family: 'Montserrat';
   src: font-url('Montserrat-Bold.ttf');
   font-style: normal;
   font-weight: bold;
   font-stretch: normal;
}

@font-face {
   font-family: 'Montserrat';
   src: font-url('Montserrat-Light.ttf');
   font-style: normal;
   font-weight: 100;
   font-stretch: normal;
}


@font-face {
   font-family: 'Montserrat';
   src: font-url('Montserrat-LightItalic.ttf');
   font-style: italic;
   font-weight: 100;
   font-stretch: normal;
}

@font-face {
   font-family: 'Montserrat';
   src: font-url('Montserrat-Medium.ttf');
   font-style: normal;
   font-weight: 600;
   font-stretch: normal;
}

@font-face {
   font-family: 'Montserrat';
   src: font-url('Montserrat-MediumItalic.ttf');
   font-style: italic;
   font-weight: 600;
   font-stretch: normal;
}

@font-face {
   font-family: 'Montserrat';
   src: font-url('Montserrat-SemiBold.ttf');
   font-style: normal;
   font-weight: 700;
   font-stretch: normal;
}

@font-face {
   font-family: 'Raleway';
   src: font-url('Raleway-Regular.ttf');
   font-style: normal;
   font-weight: normal;
   font-stretch: normal;
}

@font-face {
   font-family: 'Raleway';
   src: font-url('Raleway-RegularItalic.ttf');
   font-style: italic;
   font-weight: normal;
   font-stretch: normal;
}

@font-face {
   font-family: 'Raleway';
   src: font-url('Raleway-Medium.ttf');
   font-style: normal;
   font-weight: 600;
   font-stretch: normal;
}

@font-face {
   font-family: 'Raleway';
   src: font-url('Raleway-MediumItalic.ttf');
   font-style: italic;
   font-weight: 600;
   font-stretch: normal;
}
