// Colors
$glitter: #e7ecef;
$blue: #274c77;
$lake-blue: #6096ba;
$light-blue: #a3cef1;
$taupe: #8b8c89;
$white: #fff;
$grey: #333;

// Type
$special-header: 'Lobster', Helvetica, sans-serif;
$header: 'Raleway', Helvetica, sans-serif;
$body: 'Montserrat', Helvetica, sans-serif;
